:root {
    --vermelho-etec: #B20000;
    --branco-gelo: #F5F5F5;
}

body {
    background-color: var(--vermelho-etec);
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.navbar {
    padding: 3em 1em;
}

.card {
    margin: 0 5rem;
    border-radius: 40px;
    height: 70vh;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.titulo-cadastro {
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    color: var(--vermelho-etec);
    margin: 1em 0;
}

.nav-opcao {
    color: black;
    border-bottom: 1px solid black;
    margin: 0 0.5em;
    border-radius: 0;
}

.nav-opcao:hover {
    color: var(--vermelho-etec);
    border-bottom: 1px solid var(--vermelho-etec);
}

/* FORMULARIO */

.formulario {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    align-content: center;
    margin: 1em 0;
}

.btn-cadastrar {
    background-color: var(--vermelho-etec);
    color: var(--branco-gelo);
    border: none;
    border-radius: 8px;
    font-size: 1.2em;
    font-weight: 500;
    cursor: pointer;
    align-content: center;
}

.label-login {
    font-size: 1.2em;
    color: var(--vermelho-etec);
}

#nome {
    width: 50vh;
}

/* TABELA CADASTROS */

.container-tabela {
    overflow-y: scroll;
    max-height: 35vh;
    margin: 0 2em;
}