:root {
    --vermelho-etec: #B20000;
    --vermelho-vivo: #ff0000;
    --branco-gelo: #F5F5F5;
    --fonte-poppins: "Poppins", sans-serif;
}

/* GERAL */
body {
    background-color: var(--vermelho-etec);
    font-family: var(--fonte-poppins);
    font-weight: 300;
    font-style: normal;
}


/* NAVBAR */
.navbar {
    background-color: var(--vermelho-etec);
}

.btn-drop {
    color: var(--branco-gelo);
}

.item-navbar {
    color: var(--branco-gelo);
}

.item-navbar:hover {
    color: var(--vermelho-vivo);
}

.card-message {
    margin: 1em 2em;
}

/* CADASTRO DE VAGAS */
.card {
    margin: 1em 2em;

}

.card-table {
    margin: 1em 2em;
    max-height: 50vh;
    overflow-y: scroll;
}

.btn-vermelho {
    background-color: var(--vermelho-etec);
    color: var(--branco-gelo);
}

/* CADASTRO DE PESSOAS */

.body_cadpessoa {
    background-color: var(--vermelho-etec);
    display: flex;
}

.div_head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo_cadpessoa {
    width: 150px;
    margin: 1em;
}

input::selection {}